body {
    display: flex;
}

#yellow {
    order: 1;
}

#red {
    order: 2;
}

#green {
    order: 3;
    flex-shrink: 1;
}

#orange {
    order: 4;
    flex-grow: 7;
}

#blue {
    order: 5;
    flex-shrink: 1;
}
