body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
}

#orange {
  background-color: #ffc788;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  width: 2.5em;
  margin: 1em;
}
